<!-- main content -->
<div id="content">
    <div id="sortable-panel" class="">

        <div id="titr-content" class="col-md-12">
            <h2>Dashboard</h2>
            <h5>Responsive admin template dashboard...</h5>

        </div>

        <!-- Admin over view .col-md-12 -->
        <div class="col-md-12 ">
            <div class="panel panel-default">
                <div class="panel-body">

                    <i class="glyphicon glyphicon-stats"></i>
                    <b>Admin Overview</b>

                    <div class="bars pull-right">
                        <ng-date-range bind="modalDates" min="minRangeDate" max="maxRangeDate" limit="limitRangeDate"
                                       class="reportrange"></ng-date-range>
                    </div>
                    <hr>
                    <div class="row">
                        <!-- progress section -->
                        <div class="col-sm-3">
                            <div class="headprogress">
                                <strong>Tasks</strong>
                                <strong class="progress-value">60/100 <i class="fa fa-tasks"></i></strong>
                            </div>
                            <div class="progress progress-xs">
                                <div class="progress-bar progress-bar-info" role="progressbar" style="width: 60%;">
                                </div>
                            </div>

                            <div class="headprogress">
                                <strong>Capacity</strong>
                                <strong class="progress-value">40/100 GB <i class="fa fa-pie-chart"></i></strong>
                            </div>
                            <div class="progress  progress-xs">
                                <div class="progress-bar progress-bar-info" role="progressbar" style="width: 40%;">
                                </div>
                            </div>

                            <div class="headprogress">
                                <strong>Email</strong>
                                <strong class="progress-value">70% <i class="fa fa-envelope"></i></strong>
                            </div>
                            <div class="progress progress-xs">
                                <div class="progress-bar progress-bar-info" role="progressbar" style="width: 70%;">
                                </div>
                            </div>

                            <div class="headprogress">
                                <strong>Close request</strong>
                                <strong class="progress-value">90% <i class="fa fa-ticket"></i></strong>
                            </div>
                            <div class="progress progress-xs">
                                <div class="progress-bar progress-bar-info" role="progressbar" style="width: 90%;">
                                </div>
                            </div>

                            <a class="btn btn-success btn-block"><i class="fa fa-download"></i> Download
                                <strong>PDF</strong></a>
                            <a class="btn btn-default btn-block"><i class="fa fa-file-o"></i> Report a
                                <strong>bug</strong></a>
                        </div>
                        <!-- ./preogress section -->
                        <!-- chart section -->
                        <div class="col-sm-6">
                            <div class="well well-sm well-light padding-10">
                                <h4>
                                    Overview <strong>Chart</strong>
                                    <a href="javascript:void(0);" class="pull-right ">
                                        <i class="fa fa-refresh"></i>
                                    </a>
                                </h4>

                                <div id="areaChart" morris morris-type="area" morris-data="chartData"
                                     morris-options="chartOptions" class="chart-dashboard"></div>
                            </div>
                        </div>
                        <!-- ./chart section -->

                        <!-- pie chart -->
                        <div class="col-sm-3 ">
                            <div class="col-md-6 no-padd-left-right">
                                <div class="well well-sm text-center">
                                    <span class="h1 shadow-block no-margin purple">752</span>
                                        <span class="text-center">
                                            <i class="fa fa-upload text-muted"></i>
                                        </span>
                                    <span class="text-muted">Uploads</span>
                                </div>
                            </div>
                            <div class="col-md-6 no-padd-left-right">
                                <div class="well well-sm text-center">
                                    <span class="h1 shadow-block no-margin green">563</span>
                                        <span class="text-center">
                                            <i class="fa fa-file text-muted"></i>
                                        </span>
                                    <span class="text-muted">New Item</span>
                                </div>
                            </div>
                            <div class="col-md-6 no-padd-left-right">
                                <div class="well well-sm text-center">
                                    <span class="h1 shadow-block no-margin orange">236</span>
                                        <span class="text-center">
                                            <i class="fa fa-user text-muted"></i>
                                        </span>
                                    <span class="text-muted">Users</span>
                                </div>
                            </div>
                            <div class="col-sm-6 no-padd-left-right hidden-sm">
                                <div class="well well-sm text-center">
                                    <span class="h1 shadow-block no-margin darkblue">471</span>
                                        <span class="text-center">
                                            <i class="fa fa-rss text-muted"></i>
                                        </span>
                                    <span class="text-muted">Feeds</span>
                                </div>
                            </div>
                            <p class="hidden-sm limit-3-line">Lorem ipsum dolor sit amet, mei appareat consequuntur an,
                                eam iudico consulatu laboramus ea, pri et soleat audire.</p>
                        </div>
                        <!-- ./pie chart -->
                    </div>
                </div>

            </div>
            <!-- end panel -->
        </div>
        <!-- /end Admin over view .col-md-12 -->

        <!-- widget progress .col-md-12 -->
        <div class="col-md-12">
            <div class="row">
                <div class="col-sm-3">
                    <div class="panel panel-default">
                        <div class="panel-body no-padding">
                            <div class="chart-sm">
                                <div class="text-left">
                                    <div class="piechart" ui-jq="easyPieChart" ui-options="{ size: 60 }"
                                         data-percent="40">
                                        <span class="percent">40%</span>
                                    </div>
                                    <strong>Processor</strong> Usage <span class="hidden-sm" id="line-processorload"
                                                                           ui-jq="sparkline"
                                                                           ui-options="'html', { fillColor: false, height:'50px', width:'78px' }">1,9,8,7,6,6,4,7,8,4,10,9,4</span>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="panel panel-default">
                        <div class="panel-body no-padding">
                            <div class="chart-sm">
                                <div class="text-left">
                                    <div class="piechart" data-percent="59" ui-jq="easyPieChart"
                                         ui-options="{ size: 60 }">
                                        <span class="percent">59%</span>
                                    </div>
                                    <strong>Hard Disk</strong> Space
                                    <span class="hidden-sm" id="line-disk" ui-jq="sparkline"
                                          ui-options="'html', { fillColor: false, height:'50px', width:'78px' }">3,4,5,8,6,9,5,8,2,3,4,8,2,1,6</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="panel panel-default">
                        <div class="panel-body no-padding">
                            <div class="chart-sm">
                                <div class="text-left">
                                    <div class="piechart" data-percent="90" ui-jq="easyPieChart"
                                         ui-options="{ size: 60 }">
                                        <span class="percent">90%</span>
                                    </div>
                                    <strong>Bandwidth</strong> Usage
                                    <span class="hidden-sm" id="line-bandwidth" ui-jq="sparkline"
                                          ui-options="'html', { fillColor: false, height:'50px', width:'78px' }">1,5,2,5,2,4,5,2,5,6,4,9,1,5,9,1</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="panel panel-default">
                        <div class="panel-body no-padding">
                            <div class="chart-sm">
                                <div class="text-left">
                                    <div class="piechart" data-percent="32" ui-jq="easyPieChart"
                                         ui-options="{ size: 60 }">
                                        <span class="percent">32%</span>
                                    </div>
                                    <strong>Memory</strong> Usage |
                                    <span class="hidden-sm" id="line-memory" ui-jq="sparkline"
                                          ui-options="'html', { fillColor: false, height:'50px', width:'78px' }">7,4,5,9,3,6,8,5,9,8,1,9,6,7,1,9,5</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /end widget progress .col-md-12 -->

        <!-- Activity tab panel .col-md-6 -->
        <div class="col-md-6 layout no-padding">
            <div class="col-md-12 ">
                <div class="panel panel-default ">
                    <div class="panel-body no-padding">
                        <div class="tabbable tabs-above ">
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a href="" data-target="#activity" data-toggle="tab">
                                        <i class="fa fa-rss success"></i> Activity
                                    </a>
                                </li>
                                <li class="">
                                    <a href="" data-target="#timeline" data-toggle="tab">
                                        <i class="fa fa-dashboard primary"></i> Timeline
                                    </a>
                                </li>
                                <li>
                                    <a href="" data-target="#message" data-toggle="tab">
                                        <span class="badge badge-danger">4</span> Msgs
                                    </a>
                                </li>

                                <li class="dropdown pull-right">
                                    <a href="" data-target="#" data-toggle="dropdown"> <i class="fa fa-lg fa-cog"></i> <span
                                            class="caret"></span></a>
                                    <ul class="dropdown-menu multi-level" role="menu">
                                        <li><a href="" data-target="#" data-toggle="tab">Setting One</a></li>
                                        <li><a href="" data-target="#" data-toggle="tab">Setting Two</a></li>
                                    </ul>
                                </li>
                            </ul>
                            <div class="tab-content ">
                                <div class="tab-pane active" id="activity">

                                    <div class="panel-flat">
                                        <div class="dropdown">
                                            <span class="dropdown-toggle red"
                                                  data-toggle="dropdown">
                                                Actions <span class="caret"></span>
                                            </span>
                                            <ul class="dropdown-menu" role="menu">
                                                <li role="presentation"><a role="menuitem" tabindex="-1"
                                                                           href="#">Action</a></li>
                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another
                                                    action</a></li>
                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something
                                                    else here</a></li>
                                                <li role="presentation" class="divider"></li>
                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated
                                                    link</a></li>
                                            </ul>
                                        </div>

                                        <div class="panel-body">
                                            <div class="media">
                                                <ul class="media-list">
                                                    <li class="media">
                                                        <div class="media-left">
                                                            <a href="#">
                                                                <img class="[img-thumbnail pull-left ]"
                                                                     src="assets/img/avatars/avatar2.png"
                                                                     alt="Robert"/>
                                                            </a>
                                                        </div>
                                                        <div class="media-body">
                                                            <h3>Robert McIntosh</h3>

                                                            <p>Lorem ipsum dolor sit amet, mei appareat consequuntur an,
                                                                eam iudico consulatu laboramus ea, pri et soleat
                                                                audire.</p>
                                                            <h5><span>Shared publicly</span> - <span>Jun 25, 2014</span>  <a
                                                                    href="#" class="red">Delete</a>  <a
                                                                    href="#">Edit</a></h5>
                                                            <!-- Nested media object -->
                                                            <div class="media">
                                                                <div class="media-left">
                                                                    <a href="#">
                                                                        <img class="[img-thumbnail pull-left ]"
                                                                             src="assets/img/avatars/avatar3.png"
                                                                             alt="albert"/>
                                                                    </a>
                                                                </div>
                                                                <div class="media-body">
                                                                    <h3>Albert Jackson</h3>
                                                                    Lorem ipsum dolor sit amet, mei appareat
                                                                    consequuntur an.
                                                                    <a href="http://www.example.com">http://www.example.com/sample/12/04/205</a>
                                                                    <h5><span>Jun 25, 2014</span>   <a href="#"
                                                                                                       class="red">Delete</a>   <a
                                                                            href="#">Edit</a></h5>
                                                                    <!-- Nested media object -->
                                                                </div>
                                                            </div>
                                                            <!-- Nested media object -->
                                                            <div class="media">
                                                                <div class="media-left">
                                                                    <a href="#">
                                                                        <img class="[img-thumbnail pull-left ]"
                                                                             src="assets/img/avatars/avatar4.png"
                                                                             alt="john"/>
                                                                    </a>
                                                                </div>
                                                                <div class="media-body">
                                                                    <h3>John Doe</h3>
                                                                    Lorem ipsum dolor sit amet, mei appareat
                                                                    consequuntur an, eam iudico consulatu laboramus ea,
                                                                    pri et soleat audire
                                                                    <h5><span>Jun 25, 2014</span>   <a href="#"
                                                                                                       class="red">Delete</a>   <a
                                                                            href="#">Edit</a></h5>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="panel-footer">
                                            <a class="[ btn btn-default ]">+1</a>
                                            <a class="[ btn btn-default ]">
                                                <span class="[ glyphicon glyphicon-share-alt ]"></span>
                                            </a>

                                            <div class="input-placeholder">Add a comment...</div>
                                        </div>
                                        <div class="panel-flat-comment">
                                            <img class="img-thumbnail" src="assets/img/avatars/avatar3.png"
                                                 alt="User Image"/>

                                            <div class="panel-flat-textarea">
                                                <textarea rows="4"></textarea>
                                                <button type="submit" class="[ btn btn-success disabled ]">Post
                                                    comment
                                                </button>
                                                <button type="reset" class="[ btn btn-default ]">Cancel</button>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane padding-10" id="timeline">

                                    <!-- Timeline -->
                                    <div class="timeline">

                                        <!-- Line component -->
                                        <div class="line "></div>

                                        <!-- Panel -->
                                        <article class="panel panel-danger panel-outline">

                                            <div class="timeline-time">
                                                <small>just now</small>
                                            </div>

                                            <!-- Icon -->
                                            <div class="panel-heading icon">
                                                <i class="fa fa-bell"></i>
                                            </div>
                                            <!-- /Icon -->

                                            <!-- Body -->
                                            <div class="panel-body">
                                                <div class="tl tl-header">
                                                    <strong>Someone favourited your photo.</strong>
                                                </div>
                                                <div class="tl tl-content">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sem
                                                    dolor, posuere convallis blandit sit amet, aliquet in est. Ut
                                                    condimentum magna enim, non venenatis elit interdum accumsan. In hac
                                                    habitasse platea dictumst. Etiam molestie felis non mollis viverra.
                                                    In ipsum lorem, fermentum vitae lectus in, accumsan malesuada neque.
                                                </div>
                                                <div class="tl tl-footer">
                                                    <ul class="list-inline">
                                                        <li>
                                                            <img src="assets/img/gallery/thumb/thumb01-50x50.jpg"
                                                                 class="" alt="img">
                                                        </li>
                                                        <li>
                                                            <img src="assets/img/gallery/thumb/thumb02-50x50.jpg"
                                                                 alt="img">
                                                        </li>
                                                        <li>
                                                            <img src="assets/img/gallery/thumb/thumb03-50x50.jpg"
                                                                 alt="img">
                                                        </li>
                                                    </ul>
                                                </div>

                                            </div>
                                            <!-- /Body -->

                                        </article>
                                        <!-- /Panel -->

                                        <!-- Panel -->
                                        <article class="panel panel-default panel-outline">

                                            <div class="timeline-time">
                                                <small>5 min ago</small>
                                            </div>

                                            <!-- Icon -->
                                            <div class="panel-heading icon">
                                                <i class="fa fa-picture-o"></i>
                                            </div>
                                            <!-- /Icon -->

                                            <!-- Body -->
                                            <div class="panel-body">
                                                <div class="tl tl-header">
                                                    <strong>
                                                        Check out my tour to Adalaskar
                                                    </strong>
                                                </div>
                                                <div class="tl tl-content">
                                                    <img class="img-responsive img-thumbnail"
                                                         src="assets/img/gallery/a9.jpg" alt="vector image"/>
                                                </div>
                                                <div class="tl tl-footer">
                                                    <p>
                                                        <a href="javascript:void(0);" class="btn btn-xs btn-default"><i
                                                                class="fa fa-file"></i> Read more</a>
                                                    </p>
                                                </div>

                                            </div>
                                            <!-- /Body -->

                                        </article>
                                        <!-- /Panel -->

                                        <!-- Panel -->
                                        <article class="panel panel-primary panel-outline">

                                            <div class="timeline-time">
                                                <small>3 hrs ago</small>
                                            </div>

                                            <!-- Icon -->
                                            <div class="panel-heading icon">
                                                <i class="fa fa-pencil"></i>
                                            </div>
                                            <!-- /Icon -->


                                            <!-- Body -->
                                            <div class="panel-body">
                                                <div class="tl tl-header">
                                                    <strong>
                                                        Some new content has been added.
                                                    </strong>
                                                </div>
                                                <div class="tl tl-content ">
                                                    <div class="well well-sm  col-md-6">

                                                        <p>
                                                            Are you sure to delete reminder?
                                                        </p>
                                                        <button class="btn btn-sm btn-danger">Yes</button>
                                                        <button class="btn btn-sm btn-default">No</button>
                                                    </div>
                                                </div>

                                            </div>
                                            <!-- /Body -->

                                        </article>
                                        <!-- /Panel -->

                                        <!-- Panel -->
                                        <article class="panel panel-info panel-outline">

                                            <div class="timeline-time">
                                                <small>12 May 2015</small>
                                            </div>

                                            <!-- Icon -->
                                            <div class="panel-heading icon">
                                                <i class="fa fa-paperclip"></i>
                                            </div>
                                            <!-- /Icon -->

                                            <!-- Body -->
                                            <div class="panel-body">
                                                <div class="tl tl-header">
                                                    <strong>
                                                        Download file attachment
                                                    </strong>
                                                </div>
                                                <div class="tl tl-content ">
                                                    <div class="col-sm-12">
                                                        <div class="row">
                                                            <div class="col-md-6 ">
                                                                <b class="pull-left">
                                                                    <a href="javascript:void(0);"><i
                                                                            class="fa fa-download"></i></a>
                                                                    checklist-2015-07-25.xls
                                                                </b>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-6 ">
                                                                <b class="pull-left">
                                                                    <a href="javascript:void(0);"><i
                                                                            class="fa fa-download"></i></a>
                                                                    report-monthly.doc
                                                                </b>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>

                                            </div>
                                            <!-- /Body -->

                                        </article>
                                        <!-- /Panel -->
                                    </div>
                                    <!-- /Timeline -->
                                </div>

                                <div class="tab-pane padding-10 with-scroll" id="message">

                                    <ul class="notify-content-body ">
                                        <li class="unread">
																<span>
																	<a href="javascript:void(0);" class="msg">
                                                                        <img src="assets/img/avatars/avatar.png"
                                                                             alt="" class="item item-top-left"/>
                                                                        <span class="from titr">John Doe <i
                                                                                class="icon-paperclip"></i></span>
                                                                        <span class="time">2 minutes ago</span>
                                                                        <span class="subject titr">Msed quia non numquam eius modi tempora</span>
                                                                        <span class="msg-body">Hello again and thanks for being a part of the newsletter. </span>
                                                                    </a>
																</span>
                                        </li>
                                        <li class="unread">
																<span>
																	<a href="javascript:void(0);" class="msg">
                                                                        <img src="assets/img/avatars/female.png"
                                                                             alt="" class="item item-top-left">
                                                                        <span class="from titr">Sonya Birthday</span>
                                                                        <span class="time">Thursday, September 19th</span>
                                                                        <span class="subject titr">Incidunt ut labor</span>
                                                                        <span class="msg-body ">sed quia non numquam eius modi tempora incidunt ut labor</span>
                                                                    </a>
																</span>
                                        </li>
                                        <li class="unread">
																<span>
																	<a href="javascript:void(0);" class="msg">
                                                                        <img src="assets/img/avatars/female.png"
                                                                             alt="" class="item item-top-left">
                                                                        <span class="from titr">Sonya Birthday</span>
                                                                        <span class="time">Thursday, September 19th</span>
                                                                        <span class="subject titr">Incidunt ut labor</span>
                                                                        <span class="msg-body">sed quia non numquam eius modi tempora incidunt ut labor</span>
                                                                    </a>
																</span>
                                        </li>
                                        <li>
																<span>
																	<a href="javascript:void(0);" class="msg">
                                                                        <img src="assets/img/avatars/avatar3.png"
                                                                             alt="" class="item item-top-left">
                                                                        <span class="from">Cristina Algera</span>
                                                                        <span class="time">Sunday, September 15th</span>
                                                                        <span class="subject">Best-Selling Teethers</span>
                                                                        <span class="msg-body"> ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?</span>
                                                                    </a>
																</span>
                                        </li>
                                        <li class="unread">
																<span>
																	<a href="javascript:void(0);" class="msg">
                                                                        <img src="assets/img/avatars/avatar2.png"
                                                                             alt="" class="item item-top-left">
                                                                        <span class="from titr">Project approved! <i
                                                                                class="icon-paperclip"></i></span>
                                                                        <span class="time">September 14th</span>
                                                                        <span class="subject titr">Et harum quidem rerum facilis est et expedita distinctio</span>
                                                                        <span class="msg-body">...</span>
                                                                    </a>
																</span>
                                        </li>
                                        <li>
																<span>
																	<a href="javascript:void(0);" class="msg">
                                                                        <img src="assets/img/avatars/female.png"
                                                                             alt="" class="item item-top-left">
                                                                        <span class="from">Sonya Birthday</span>
                                                                        <span class="time">Thursday, September 19th</span>
                                                                        <span class="subject">Incidunt ut labor</span>
                                                                        <span class="msg-body">sed quia non numquam eius modi tempora incidunt ut labor</span>
                                                                    </a>
																</span>
                                        </li>
                                        <li>
																<span>
																	<a href="javascript:void(0);" class="msg">
                                                                        <img src="assets/img/avatars/female.png"
                                                                             alt="" class="item item-top-left">
                                                                        <span class="from">Sonya Birthday</span>
                                                                        <span class="time">Thursday, September 19th</span>
                                                                        <span class="subject">Incidunt ut labor</span>
                                                                        <span class="msg-body">sed quia non numquam eius modi tempora incidunt ut labor</span>
                                                                    </a>
																</span>
                                        </li>
                                    </ul>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- end panel -->
            </div>
            <!-- end .col-md-6 -->

            <div class="col-md-12 ">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="glyphicon glyphicon-comment"></i> <strong>Team Chat</strong>
                    </div>
                    <div class="panel-body chat-panel">
                        <ul class="chat">
                            <li class="left clearfix">
						                        	<span class="chat-img pull-left">
							                            <img src="assets/img/avatars/avatar2.png" alt="User Avatar"
                                                             class="img-thumbnail"/>
							                        </span>

                                <div class="chat-body clearfix">
                                    <div class="header">
                                        <strong class="primary-font">Jack Sparrow</strong>
                                    </div>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum
                                        ornare
                                        dolor, quis ullamcorper ligula sodales.
                                    </p>
                                </div>
                                <small class="pull-left text-muted"><span class="glyphicon glyphicon-time"></span> Aug
                                    5, 12:38 PM
                                </small>
                            </li>
                            <li class="right clearfix">
						                        	<span class="chat-img pull-right">
							                           <img src="assets/img/avatars/avatar3.png" alt="User Avatar"
                                                            class="img-thumbnail"/>
							                        </span>

                                <div class="chat-body clearfix">
                                    <div class="header text-right">
                                        <strong class=" primary-font">Bhaumik Patel</strong>
                                    </div>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum
                                        ornare
                                        dolor, quis ullamcorper ligula sodales.
                                    </p>
                                </div>
                                <small class="pull-right text-muted"><span class="glyphicon glyphicon-time"></span>13
                                    mins ago
                                </small>
                            </li>
                            <li class="left clearfix">
							                        <span class="chat-img pull-left">
							                            <img src="assets/img/avatars/avatar2.png" alt="User Avatar"
                                                             class="img-thumbnail"/>
							                        </span>

                                <div class="chat-body clearfix">
                                    <div class="header">
                                        <strong class="primary-font">Jack Sparrow</strong>
                                    </div>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum
                                        ornare
                                        dolor, quis ullamcorper ligula sodales.
                                    </p>
                                </div>
                                <small class="pull-left text-muted"><span class="glyphicon glyphicon-time"></span>14
                                    mins ago
                                </small>
                            </li>
                            <li class="right clearfix">
							                        <span class="chat-img pull-right">
							                            <img src="assets/img/avatars/avatar3.png" alt="User Avatar"
                                                             class="img-thumbnail"/>
							                        </span>

                                <div class="chat-body clearfix">
                                    <div class="header text-right">
                                        <strong class=" primary-font">Bhaumik Patel</strong>
                                    </div>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum
                                        ornare
                                        dolor, quis ullamcorper ligula sodales.
                                    </p>
                                </div>
                                <small class="pull-right text-muted"><span class="glyphicon glyphicon-time"></span>15
                                    mins ago
                                </small>
                            </li>
                            <li class="right clearfix">
							                        <span class="chat-img pull-right">
							                            <img src="assets/img/avatars/avatar3.png" alt="User Avatar"
                                                             class="img-thumbnail"/>
							                        </span>

                                <div class="chat-body clearfix">
                                    <div class="header text-right">
                                        <strong class=" primary-font">Bhaumik Patel</strong>
                                    </div>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur
                                    </p>
                                </div>
                                <small class="pull-right text-muted"><span class="glyphicon glyphicon-time"></span>15
                                    mins ago
                                </small>
                            </li>
                        </ul>
                    </div>
                    <div class="panel-footer">
                        <div class="textarea-div">
                            <div class="typearea">
                                <textarea placeholder="Write a reply..." id="textarea-expand"
                                          class="custom-scroll"></textarea>
                            </div>
                        </div>
											<span class="textarea-controls">
												<button class="btn btn-sm btn-success pull-right"> Reply</button>
												<a href="javascript:void(0);" class="pull-left"><i
                                                        class="fa fa-camera fa-fw fa-lg"></i></a>
											</span>
                    </div>
                </div>
                <!-- end panel -->
            </div>
            <!-- end .col-md-6 -->
        </div>
        <!-- /end Activity tab panel .col-md-6 -->

        <div class="col-md-6 layout no-padding">
            <div class="col-md-12 ">
                <div class="panel panel-default">
                    <div class="panel-body no-padding">
                        <div class="tabbable tabs-above ">
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a href="" data-target="#one" data-toggle="tab">
                                        <i class="fa fa-users success"></i>
                                        Last Users
                                    </a>
                                </li>
                            </ul>
                            <div class="tab-content ">
                                <div class="tab-pane active" id="one">
                                    <div class="table-responsive">
                                        <table class="table  table-striped">
                                            <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Name</th>
                                                <th>Status</th>
                                                <th>Location</th>
                                                <th>Balance</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>#12</td>
                                                <td>Jastin Jack</td>
                                                <td><span class="label label-table label-success">active</span></td>
                                                <td>London, UK</td>
                                                <td>$ 24.4</td>
                                            </tr>
                                            <tr>
                                                <td>#13</td>
                                                <td>Sara Kate</td>
                                                <td><span class="label label-table label-danger">band</span></td>
                                                <td>CA, US</td>
                                                <td>$ 101.2</td>
                                            </tr>
                                            <tr>
                                                <td>#14</td>
                                                <td>Jenifer Kamter</td>
                                                <td><span class="label label-table label-info">not confirm</span></td>
                                                <td>New York, US</td>
                                                <td>$ 45.2</td>
                                            </tr>
                                            <tr>
                                                <td>#16</td>
                                                <td>Willy Wonka</td>
                                                <td><span class="label label-table label-warning">canceled</span></td>
                                                <td>Canbera, AU</td>
                                                <td>$ 27.0</td>
                                            </tr>
                                            <tr>
                                                <td>#18</td>
                                                <td>Annisa Rusmanovski</td>
                                                <td><span class="label label-table label-primary">registered</span></td>
                                                <td>Canbera, AU</td>
                                                <td>$ 365.8</td>
                                            </tr>
                                            <tr>
                                                <td>#19</td>
                                                <td>Johnny Depp</td>
                                                <td><span class="label label-table label-success">active</span></td>
                                                <td>Semarang, ID</td>
                                                <td>$ 265.0</td>
                                            </tr>
                                            <tr>
                                                <td>#20</td>
                                                <td>John Doe</td>
                                                <td><span class="label label-table label-warning">canceled</span></td>
                                                <td>Bali, ID</td>
                                                <td>$ 25.6</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <hr>
                                        <button class="btn btn-link btn-block margin-b-0">View All</button>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end panel -->
            </div>
            <!-- end .col-md-12 -->

            <div class="col-md-12 no-padding">
                <div class="panel panel-default">

                    <div class="panel-body">

                        <div ui-jq="fullCalendar" ui-options="fullCalendarOption"></div>
                        <div style="clear:both"></div>

                    </div>

                </div>
                <!-- end panel -->
            </div>
            <!-- end .col-md-12 -->

        </div>

    </div>
    <!-- end col-md-12 -->
</div><!-- end #content -->