<!-- main content -->
<div id="content">
    <div id="sortable-panel" class="">
        <div id="titr-content" class="col-md-12">
            <h2>Invoice</h2>
            <h5>Customer invoice and quotes...</h5>
            <div class="actions">
                <button class="btn btn-success ">Add new</button>
                <button class="btn btn-default ">Options</button>
            </div>
        </div>

        <div class="col-md-12">
            <div  class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">
                        <i class="fa  fa-credit-card"></i>
                        <strong>Twitter, Inc.</strong><small>[Invoice IN-12345678-3436]</small>
                        <div class="bars pull-right">
                            <div class="dropdown ">
                                <a href="" data-target="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-cog"></i>
                                </a>
                                <ul class="dropdown-menu yep-panel-menu">
                                    <li>
                                        <a href="" data-target="#">Daily<span class="badge pull-right"></span></a>
                                    </li>
                                    <li>
                                        <a href="" data-target="#">Monthly<span class="badge pull-right"></span></a>
                                    </li>
                                    <li>
                                        <a href="" data-target="#">Yearly<span class="badge pull-right"> 42 </span></a>
                                    </li>
                                    <li class="divider">
                                    </li>
                                    <li>
                                        <a href="" data-target="#">All time<span class="badge pull-right">56</span></a>
                                    </li>
                                </ul>
                            </div>
                            <a href="" data-target="#"><i class="maximum fa fa-expand" data-toggle="tooltip" data-placement="bottom" title="Maximize"></i></a>
                            <a href="" data-target="#"><i class="minimize fa fa-chevron-down" data-toggle="tooltip" data-placement="bottom" title="Collapse"></i></a>
                            <a href="" data-target="#"><i data-target="#panel2" data-dismiss="alert" data-toggle="tooltip" data-placement="bottom" title="Close" class="fa fa-times"></i></a>
                        </div>
                    </div>
                </div>
                <div class="panel-body">

                    <div class="row">
                        <div class="col-md-4">
                            <div class="pull-left">
                                <strong><i class="text-primary">From</i></strong><br>
                                <img src="assets/img/logo.png" alt="Golabi Admin">
                                <address>
                                    <strong>Golabi Admin, Inc.</strong><br>
                                    San Francisco, CA 94107<br>
                                    <abbr title="Phone">P:</abbr> (123) 456-7890
                                </address>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="pull-left">
                                <strong><i class="text-primary">To</i></strong>
                                <address>
                                    <strong>Twitter, Inc.</strong><br>
                                    795 Folsom Ave, Suite 600<br>
                                    San Francisco, CA 94107<br>
                                    <abbr title="Phone">P:</abbr> (123) 456-7890
                                </address>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="pull-right">
                                <strong><i class="text-primary">Invoice information</i></strong>
                                <address>
                                    <strong>Invoice No:</strong> IN-12345678-3436<br>
                                    <strong>Invoice Date:</strong> <i class="fa fa-calendar"></i> 2015/02/23<br>
                                    <div class="well well-sm">
                                        <div class="fa-lg">
                                            Total Due :
                                            <span class="pull-right"> 4,800 USD** </span>
                                        </div>
                                    </div>
                                </address>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <h5>
                            <strong>Invoice concept: </strong>
                            <small>Development Services from 10/10/2020 to 10/11/2020</small>
                        </h5>
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Description</th>
                                <th>Quantity</th>
                                <th>Unit Price</th>
                                <th>Tax Rate</th>
                                <th>Tax</th>
                                <th class="to-right">Total Price</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>1</td>
                                <td>
                                    Single License Application
                                    <br>
                                    <small><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec et tempor risus.</span></small>
                                </td>
                                <td>10</td>
                                <td>$100.00</td>
                                <td>10%</td>
                                <td>$100.00</td>
                                <td class="to-right">$1,100.00</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>
                                    Web Desgin Theme
                                    <br>
                                    <small><span >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec et tempor risus, sed tempor.</span></small>
                                </td>
                                <td>20</td>
                                <td>$100.00</td>
                                <td>10%</td>
                                <td>$200.00</td>
                                <td class="to-right">$2,200.00</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>
                                    10 GB Linux Host
                                    <br>
                                    <small><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec et.</span></small>
                                </td>
                                <td>10</td>
                                <td>$100.00</td>
                                <td>10%</td>
                                <td>$100.00</td>
                                <td class="to-right">$1,100.00</td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <td rowspan="3" colspan="4">&nbsp;</td>
                                <td colspan="1">Subtotal</td>
                                <td colspan="2" class="to-right">$4,400.00</td>
                            </tr>
                            <tr>
                                <td colspan="1">Tax</td>
                                <td colspan="2" class="to-right">$400.00</td>
                            </tr>
                            <tr>
                                <td colspan="1" ><strong class="text-success">Total</strong></td>
                                <td colspan="2" class="to-right"><strong class="text-success">$4,800.00</strong></td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <strong class="text-primary">Comments:</strong> <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec et tempor risus, sed tempor velit. Phasellus ut maximus nulla. Curabitur sit amet maximus nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse vitae ullamcorper augue. </p>
                            <strong class="text-primary">Note: </strong> <u class="text-danger">Payment is due within 30 days</u>
                        </div>
                        <div class="col-md-6">
                            <div class="payment-methods">
                                <strong class="text-primary">Payment Methods</strong><br>
                                <img src="assets/img/payment/paypal.png" width="64" height="64" alt="paypal">
                                <img src="assets/img/payment/americanexpress.png" width="64" height="64" alt="american express">
                                <img src="assets/img/payment/mastercard.png" width="64" height="64" alt="mastercard">
                                <img src="assets/img/payment/visa.png" width="64" height="64" alt="visa">
                            </div>
                            <p class="note">**To avoid any excess penalty charges, please make payments within 30 days of the due date. There will be a 2% interest charge per month on all late invoices.</p>
                        </div>
                    </div>
                </div>
                <div class="panel-footer text-center">
                    <p class="uppercase"> Thank you for trusting in Lorem Ipsum Inc. </p>
                    <p>
                        <span>loriemipsuim.com</span>
                        <span >|</span>
                        <span><abbr title="Phone">P:</abbr> +1-123 456 789</span>
                        <span >|</span>
                        <span><abbr title="Email">E:</abbr> lorem@loriemipsuim.com</span>
                    </p>
                </div>
            </div><!-- end panel -->
        </div><!-- end .col-md-12 -->
    </div>
</div>