<!-- main content -->
<div id="content">
    <div id="sortable-panel" class="">
        <div id="titr-content" class="col-md-12">
            <h2>Timeline</h2>
            <h5>Single Column Responsive Timeline...</h5>
            <div class="actions">
                <button class="btn btn-success ">Add new</button>
                <button class="btn btn-default ">Options</button>
            </div>
        </div>

        <div class="col-md-12 ">
            <div  class="panel panel-default">
                <div class="panel-body">

                    <!-- Timeline -->
                    <div class="timeline">

                        <!-- Line component -->
                        <div class="line "></div>

                        <!-- Panel -->
                        <article class="panel panel-danger panel-outline">

                            <div class="timeline-time">
                                <small>just now</small>
                            </div>

                            <!-- Icon -->
                            <div class="panel-heading icon">
                                <i class="fa fa-bell"></i>
                            </div>
                            <!-- /Icon -->

                            <!-- Body -->
                            <div class="panel-body">
                                <div class="tl tl-header">
                                    <strong >Someone favourited your photo.</strong>
                                </div>
                                <div class="tl tl-content">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sem dolor, posuere convallis blandit sit amet, aliquet in est. Ut condimentum magna enim, non venenatis elit interdum accumsan. In hac habitasse platea dictumst. Etiam molestie felis non mollis viverra. In ipsum lorem, fermentum vitae lectus in, accumsan malesuada neque.
                                </div>
                                <div class="tl tl-footer">
                                    <ul class="list-inline">
                                        <li>
                                            <img src="assets/img/gallery/thumb/thumb01-50x50.jpg" class="" alt="img" >
                                        </li>
                                        <li>
                                            <img src="assets/img/gallery/thumb/thumb02-50x50.jpg"  alt="img">
                                        </li>
                                        <li>
                                            <img src="assets/img/gallery/thumb/thumb03-50x50.jpg"  alt="img" >
                                        </li>
                                    </ul>
                                </div>

                            </div>
                            <!-- /Body -->

                        </article>
                        <!-- /Panel -->

                        <!-- Panel -->
                        <article class="panel panel-default panel-outline">

                            <div class="timeline-time">
                                <small>5 min ago</small>
                            </div>

                            <!-- Icon -->
                            <div class="panel-heading icon">
                                <i class="fa fa-picture-o"></i>
                            </div>
                            <!-- /Icon -->

                            <!-- Body -->
                            <div class="panel-body">
                                <div class="tl tl-header">
                                    <strong >
                                        Check out my tour to Adalaskar
                                    </strong>
                                </div>
                                <div class="tl tl-content">
                                    <img class="img-responsive img-thumbnail" src="assets/img/gallery/a9.jpg"  alt="vector image"/>
                                </div>
                                <div class="tl tl-footer">
                                    <p>
                                        <a href="javascript:void(0);" class="btn btn-xs btn-default"><i class="fa fa-file"></i> Read more</a>
                                    </p>
                                </div>

                            </div>
                            <!-- /Body -->

                        </article>
                        <!-- /Panel -->

                        <!-- Panel -->
                        <article class="panel panel-primary panel-outline">

                            <div class="timeline-time">
                                <small>3 hrs ago</small>
                            </div>

                            <!-- Icon -->
                            <div class="panel-heading icon">
                                <i class="fa fa-pencil"></i>
                            </div>
                            <!-- /Icon -->


                            <!-- Body -->
                            <div class="panel-body">
                                <div class="tl tl-header">
                                    <strong >
                                        Some new content has been added.
                                    </strong>
                                </div>
                                <div class="tl tl-content ">
                                    <div class="well well-sm  col-md-4" >

                                        <p>
                                            Are you sure to delete reminder?
                                        </p>
                                        <button class="btn btn-sm btn-danger">Yes</button>
                                        <button class="btn btn-sm btn-default">No</button>
                                    </div>
                                </div>


                            </div>
                            <!-- /Body -->



                        </article>
                        <!-- /Panel -->



                        <!-- Panel -->
                        <article class="panel panel-default ">

                            <div class="timeline-time">
                                <small>yesterday</small>
                            </div>

                            <!-- Icon -->
                            <div class="panel-heading img">
                                <img src="assets/img/avatars/avatar2.png" alt="">
                            </div>
                            <!-- /Icon -->

                            <!-- Heading -->
                            <div class="panel-heading ">
                                <h2 class="panel-title"><i class="fa fa-file"></i> New content added</h2>
                            </div>
                            <!-- /Heading -->

                            <!-- Body -->
                            <div class="panel-body">
                                <div class="tl tl-header">
                                    <strong >
                                        Some new content has been added.
                                    </strong>
                                </div>
                                <div class="tl tl-content ">
                                    To use panel with border Remove <code>.panel-outline</code> class &
                                    Anything you can do with <code>.panel</code>, can be done in timeline too!
                                    <blockquote class="bq-sm bq-open">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.</blockquote>
                                </div>
                            </div>
                            <!-- /Body -->

                            <!-- List group -->


                        </article>
                        <!-- /Panel -->

                        <!-- Panel -->
                        <article class="panel panel-info panel-outline">

                            <div class="timeline-time">
                                <small>12 May 2015</small>
                            </div>

                            <!-- Icon -->
                            <div class="panel-heading icon">
                                <i class="fa fa-paperclip"></i>
                            </div>
                            <!-- /Icon -->

                            <!-- Body -->
                            <div class="panel-body">
                                <div class="tl tl-header">
                                    <strong >
                                        Download file attachment
                                    </strong>
                                </div>
                                <div class="tl tl-content ">
                                    <div class="col-sm-12">
                                        <div class="row">
                                            <div class="col-md-3 ">
                                                <b class="pull-left">
                                                    <a href="javascript:void(0);" ><i class="fa fa-download"></i></a>
                                                    checklist-2015-07-25.xls
                                                </b>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3 ">
                                                <b class="pull-left">
                                                    <a href="javascript:void(0);" ><i class="fa fa-download"></i></a>
                                                    report-monthly.doc
                                                </b>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                            <!-- /Body -->

                        </article>
                        <!-- /Panel -->

                    </div>
                    <!-- /Timeline -->

                </div>
            </div><!-- end panel -->
        </div><!-- end .col-md-12 -->
    </div>
</div>