<div  class="text-center preloader" ng-show="loader">
    <span>Loading...</span>
</div>
<div  class="text-center preloader" ng-show="transLoader">
    <span>Initialize language...</span>
</div>
<div id="container" class="container-fluid skin-1 fixed-header fixed-sidebar">
    <!-- Add Task in sidebar list modal -->
    <div class="modal fade" id="modal-add-task" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form class="form-horizontal">
                    <div class="modal-header default">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" id="myModalLabel1">
                            Add Task
                        </h4>
                    </div>

                    <div class="modal-body">
                        <!-- Text input-->
                        <div class="control-group">
                            <label class="control-label" for="task-name">Task Name</label>
                            <div class="controls">
                                <input id="task-name" name="task-name" type="text" placeholder="" class="form-control">
                            </div>
                        </div>

                        <!-- Textarea -->
                        <div class="control-group">
                            <label class="control-label" for="Description">Description</label>
                            <div class="controls">
                                <textarea id="Description" name="Description" class="form-control"></textarea>
                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="control-group">
                            <label class="control-label" for="owner">Owner</label>
                            <div class="controls">
                                <input id="owner" name="owner" type="text" placeholder="" class="form-control">

                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--./ Add Task in sidebar list modal -->

    <!-- Add Contact in sidebar list modal -->
    <div class="modal fade" id="modal-add-contact" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header default">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="myModalLabel2">
                        Add Contact
                    </h4>
                </div>
                <div class="modal-body">
                    <!-- Text input-->
                    <div class="control-group">
                        <label class="control-label" for="name">Name</label>
                        <div class="controls">
                            <input id="name" name="name" type="text" placeholder="" class="form-control">
                        </div>
                    </div>

                    <!-- Textarea -->
                    <div class="control-group">
                        <label class="control-label" for="Address">Address</label>
                        <div class="controls">
                            <textarea id="Address" name="Address" class="form-control"></textarea>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="Phone">Phone</label>
                        <div class="controls">
                            <input id="Phone" name="Phone" type="number" placeholder="" class="form-control">
                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="control-group">
                        <label class="control-label" for="owner">Email</label>
                        <div class="controls">
                            <input id="Email" name="Email" type="text" placeholder="" class="form-control">

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <!--./ Add Contact in sidebar list modal -->

    <!-- Header -->
    <header id="header">

        <nav class="navbar navbar-default nopadding" >
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                <button type="button" id="menu-open" class="navbar-toggle menu-toggler pull-left">
                    <span class="sr-only">Toggle sidebar</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#" id="logo-panel">
                    <img src="assets/img/logo.png" alt="Golabi Admin">
                    <!-- <i class="fa fa-slack"></i> Golabi Admin -->
                </a>


            </div>
            <form action="#" class="form-search-mobile pull-right">
                <input id="search-fld" class="search-mobile" type="text" name="param" placeholder="Search ...">
                <button id="submit-search-mobile" type="submit">
                    <i class="fa fa-search"></i>
                </button>
                <a href="#" id="cancel-search-mobile" title="Cancel Search"><i class="fa fa-times"></i></a>
            </form>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <ul class="nav navbar-nav navbar-right">
                    <li id="search-show-li" class="dropdown">
                        <a href="#" id="search-mobile-show" class="dropdown-toggle" >
                            <i class="fa fa-search"></i>
                        </a>
                    </li>
                    <li class="dropdown yep-dropdown-notify">
                        <a  href="" data-target="#" class="dropdown-toggle" >
                            <i class="fa fa-bell-o"></i>
                            <span class="label">1</span>
                        </a>
                        <ul class="dropdown-menu yep-notify">
                            <li>
                                <div class="btn-group btn-group-justified yep-btn-group-notify">
                                    <a href="#msgs" class="btn btn-default active">Msgs (14)</a>
                                    <a href="#notify" class="btn btn-default">notify (3)</a>
                                    <a href="#task" class="btn btn-default">Tasks (4)</a>
                                </div>
                                <div class="tab-content yep-notify-content" >
                                    <div class="tab-pane active thin-scroll" id="msgs">

                                        <ul class="notify-content-body ">
                                            <li>
                                                <span class="unread">
                                                    <a href="javascript:void(0);" class="msg" >
                                                        <img src="assets/img/avatars/avatar.png" alt="" class="item item-top-left" >
                                                        <span class="from">John Doe <i class="icon-paperclip"></i></span>
                                                        <span class="time">2 minutes ago</span>
                                                        <span class="subject">Msed quia non numquam eius modi tempora</span>
                                                        <span class="msg-body">Hello again and thanks for being a part of the newsletter. </span>
                                                    </a>
                                                </span>
                                            </li>
                                            <li>
                                                <span>
                                                    <a href="javascript:void(0);" class="msg">
                                                        <img src="assets/img/avatars/female.png" alt="" class="item item-top-left">
                                                        <span class="from">Sonya Birthday</span>
                                                        <span class="time">Thursday, September 19th</span>
                                                        <span class="subject">Incidunt ut labor</span>
                                                        <span class="msg-body">sed quia non numquam eius modi tempora incidunt ut labor</span>
                                                    </a>
                                                </span>
                                            </li>
                                            <li>
                                                <span>
                                                    <a href="javascript:void(0);" class="msg">
                                                        <img src="assets/img/avatars/female.png" alt="" class="item item-top-left">
                                                        <span class="from">Sonya Birthday</span>
                                                        <span class="time">Thursday, September 19th</span>
                                                        <span class="subject">Incidunt ut labor</span>
                                                        <span class="msg-body">sed quia non numquam eius modi tempora incidunt ut labor</span>
                                                    </a>
                                                </span>
                                            </li>
                                            <li>
                                                <span>
                                                    <a href="javascript:void(0);" class="msg">
                                                        <img src="assets/img/avatars/avatar3.png" alt="" class="item item-top-left">
                                                        <span class="from">Cristina Algera</span>
                                                        <span class="time">Sunday, September 15th</span>
                                                        <span class="subject">Best-Selling Teethers</span>
                                                        <span class="msg-body"> ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?</span>
                                                    </a>
                                                </span>
                                            </li>
                                            <li>
                                                <span>
                                                    <a href="javascript:void(0);" class="msg">
                                                        <img src="assets/img/avatars/male.png" alt="" class="item item-top-left">
                                                        <span class="from">Lam Tampora</span>
                                                        <span class="time">Saturday, September 14th</span>
                                                        <span class="subject">Deadline due date</span>
                                                        <span class="msg-body">imus qui blanditiis praesentium voluptatum deleniti atque corrup</span>
                                                    </a>
                                                </span>
                                            </li>
                                            <li>
                                                <span class="unread">
                                                    <a href="javascript:void(0);" class="msg">
                                                        <img src="assets/img/avatars/avatar2.png" alt="" class="item item-top-left">
                                                        <span class="from">Project approved! <i class="icon-paperclip"></i></span>
                                                        <span class="time">September 14th</span>
                                                        <span class="subject">Et harum quidem rerum facilis est et expedita distinctio</span>
                                                        <span class="msg-body">...</span>
                                                    </a>
                                                </span>
                                            </li>
                                            <li>
                                                <span>
                                                    <a href="javascript:void(0);" class="msg">
                                                        <img src="assets/img/avatars/male.png" alt="" class="item item-top-left" >
                                                        <span class="from">JEFF, me</span>
                                                        <span class="time">Friday, September 13th</span>
                                                        <span class="subject">Bugs fixed! </span>
                                                        <span class="msg-body">Nam libero tempore, cum soluta nobis est eligendi optio cumque</span>
                                                    </a>
                                                </span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="tab-pane" id="notify">
                                        <ul class="notify-content-body ">
                                            <li>
                                                <span class="padding-10 unread">
                                                    <em class="badge img-notify">
                                                        <i class="fa fa-user fa-fw fa-2x"></i>
                                                    </em>

                                                    <span>
                                                        2 new users just signed up! <span class="text-primary">martin.luther</span> and <span class="text-primary">kevin.reliey</span>

                                                        <span class="pull-right font-xs text-muted"><i>1 min ago...</i></span>
                                                    </span>
                                                </span>
                                            </li>
                                            <li>
                                                <span class="padding-10">
                                                    <em class="badge img-notify">
                                                        <i class="fa fa-check fa-fw fa-2x"></i>
                                                    </em>

                                                    <span>
                                                        2 projects were completed on time! Submitted for your approval - <a href="javascript:void(0);" class="display-normal">Click here</a>

                                                        <span class="pull-right font-xs text-muted"><i>1 day ago...</i></span>
                                                    </span>

                                                </span>
                                            </li>
                                            <li>
                                                <span class="padding-10 unread">
                                                    <em class="badge img-notify">
                                                        <i class="fa fa-user fa-fw fa-2x"></i>
                                                    </em>

                                                    <span>
                                                        2 new users just signed up! <span class="text-primary">martin.luther</span> and <span class="text-primary">kevin.reliey</span>

                                                        <span class="pull-right font-xs text-muted"><i>1 min ago...</i></span>
                                                    </span>
                                                </span>
                                            </li>
                                            <li>
                                                <span class="padding-10">
                                                    <em class="badge img-notify">
                                                        <i class="fa fa-lock fa-fw fa-2x"></i>
                                                    </em>

                                                    <span>
                                                        Your password was recently updated. Please complete your security questions from your profile page.

                                                        <span class="pull-right font-xs text-muted"><i>2 weeks ago...</i></span>
                                                    </span>
                                                </span>
                                            </li>
                                            <li>
                                                <span class="padding-10">
                                                    <em class="badge img-notify">
                                                        <i class="fa fa-user fa-fw fa-2x"></i>
                                                    </em>

                                                    <span>
                                                        <a href="javascript:void(0);" class="display-normal">Sofia</a> as contact? &nbsp;
                                                        <button class="btn btn-xs btn-primary margin-top-5">accept</button>
                                                        <button class="btn btn-xs btn-danger margin-top-5">reject</button>
                                                        <span class="pull-right font-xs text-muted"><i>3 hrs ago...</i></span>
                                                    </span>
                                                </span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="tab-pane" id="task">
                                        <ul class="notify-content-body ">

                                            <li>
                                                <div class="task-progress">
                                                    <div class="clearfix">
                                                        <span class="pull-left">Software Update</span>
                                                        <span class="pull-right">65%</span>
                                                    </div>
                                                    <div class="progress progress-xs">
                                                        <div style="width:65%" class="progress-bar"></div>
                                                    </div>
                                                    <span  class="progress-bottom"><a href="#">More Details </a><i class="fa fa-external-link"></i></span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="task-progress">
                                                    <div class="clearfix">
                                                        <span class="pull-left">Hardware Upgrade</span>
                                                        <span class="pull-right">35%</span>
                                                    </div>
                                                    <div class="progress progress-xs">
                                                        <div style="width:35%" class="progress-bar progress-bar-danger"></div>
                                                    </div>
                                                    <span  class="progress-bottom">2015/05/06 <i class="fa fa-clock-o"></i></span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="task-progress">
                                                    <div class="clearfix">
                                                        <span class="pull-left">Unit Testing</span>
                                                        <span class="pull-right">15%</span>
                                                    </div>
                                                    <div class="progress progress-xs">
                                                        <div style="width:15%" class="progress-bar progress-bar-warning"></div>
                                                    </div>
                                                    <span  class="progress-bottom">Last update: 2015/05/06</span>
                                                </div>
                                            </li>

                                            <li>
                                                <div class="task-progress">
                                                    <div class="clearfix">
                                                        <span class="pull-left">Bug Fixes</span>
                                                        <span class="pull-right">90%</span>
                                                    </div>
                                                    <div class="progress progress-xs progress-striped active">
                                                        <div style="width:90%" class="progress-bar progress-bar-success"></div>
                                                    </div>
                                                    <span  class="progress-bottom">Last update: 2015/05/06</span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="task-progress">
                                                    <div class="clearfix">
                                                        <i class="fa fa-exclamation-triangle red icon-task"></i>
                                                        <span class="pull-left">Admin template change</span>
                                                        <span class="pull-right">20%</span>
                                                    </div>
                                                    <div class="progress progress-xs progress-striped active">
                                                        <div style="width:20%" class="progress-bar progress-bar-primary"></div>
                                                    </div>
                                                    <span  class="progress-bottom">Last update: 2015/05/06</span>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <span> Last updated on: 12/12/2013 9:43AM
                                    <button type="button"  class="btn btn-xs btn-default pull-right">
                                        <i class="fa fa-refresh"></i>
                                    </button>
                                </span>
                            </li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a  href="" data-target="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-language fa-lg"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li ng-repeat="key in AvailableLanguageKeys" ng-class="{'active':currentLanguage===key}">
                                <a ng-click="changeLanguage(key)" class="capitalize" >{{'language.label.'+key | translate}}</a>
                            </li>
                        </ul>
                    </li>

                    <li class="dropdown">

                        <a  href="" data-target="#" class="dropdown-toggle" data-toggle="dropdown">
                            <!-- profile user name -->
                            {{profile.name}}

                            <img alt="ngLaravel Avatar Admin" ng-src="{{profile.avatar_url !=='' && 'server/public/uploads/'+profile.avatar_url || 'server/public/uploads/no_avatar.jpg'}}" height="50" width="50" class="img-circle" />
                            <strong class="caret"></strong>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#" >{{'app.shared.admin.profile' | translate}}<span class="fa fa-user pull-right"></span></a>
                            </li>
                            <li>
                                <a href="#">{{'app.shared.admin.setting' | translate}}<span class="fa fa-cog pull-right"></span></a>
                            </li>
                            <li>
                                <a href="#">{{'app.shared.admin.messages' | translate}}<span class="badge pull-right"> 42 </span></a>
                            </li>
                            <li class="divider">
                            </li>
                            <!-- sign out attribute directive 'data-signout'-->
                            <li ng-show="isAuthenticated">
                                <a href="" data-target="#" data-signout translate>app.shared.admin.signout<span class="fa fa-power-off pull-right"></span></a>
                            </li>
                        </ul>
                    </li>

                </ul>

                <ul class="nav navbar-nav navbar-right">

                    <li id="fullscreen-li">
                        <a  href="" data-target="#" id="fullscreen" class="dropdown-toggle" >
                            <i class="fa fa-arrows-alt"></i>
                        </a>
                    </li>

                    <li id="side-hide-li" class="dropdown">
                        <a  href="" data-target="#" id="side-hide" class="dropdown-toggle" >
                            <i class="fa fa-reorder"></i>
                        </a>
                    </li>


                </ul>
                <!-- search form in header -->
                <form class="navbar-form navbar-right" >
                    <div class="form-group">
                        <input type="text" class="form-control search-header" placeholder="{{'app.shared.admin.enterkeyword' | translate}}" />
                        <button type="submit" class="btn btn-link search-header-btn" >
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </form>


            </div>

        </nav>
    </header>
    <!-- /end Header -->

    <!-- sidebar menu -->
    <div id="sidebar" class="sidebar" >
        <div class="tabbable-panel">
            <div class="tabbable-line">
                <ul class="nav nav-tabs nav-justified">
                    <li id="tab_menu_a" class="active">
                        <a href="" data-target="#tab_menu_1" data-toggle="tab">
                            <i class="fa fa-reorder"></i>
                        </a>
                    </li>
                    <li id="contact-tab">
                        <a href="" data-target="#tab_contact_2" data-toggle="tab">
                            <i class="fa fa-user"></i>
                        </a>
                    </li>
                    <li id="report-tab">
                        <a href="" data-target="#tab_report_3" data-toggle="tab">
                            <i class="fa fa-pie-chart"></i>
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_menu_1">
                        <form class="search-menu-form" >
                            <div class="">
                                <input id="menu-list-search" placeholder="{{'app.shared.admin.searchmenu' | translate}}" type="text" class="form-control search-menu">
                            </div>
                        </form>

                        <!-- sidebar Menu -->
                        <div id="MainMenu" class="" >

                            <ul id="menu-list" class="nav nav-list" translate-namespace="app.shared.admin.menu">

                                <li class="separate-menu"><span translate> .sampleApp </span></li>

                                <li ui-sref-active="open active" show-if-has-permit="view_dashboard">
                                    <a ui-sref="admin">
                                        <i class="menu-icon fa fa-tachometer"></i>
                                        <!--<span class="menu-text"> {{ "app.shared.admin.menu.dashboard" | translate }} </span>-->
                                        <span class="menu-text" translate> .dashboard </span>
                                    </a>
                                    <b class="arrow"></b>
                                </li>

                                <li ui-sref-active="active open" show-if-has-any-permit="view_role,view_permission,view_user">
                                    <a href="#" class="dropdown-toggle">
                                        <i class="menu-icon fa fa-user"></i>
                                        <span class="menu-text" translate> .management </span>

                                        <b class="arrow fa fa-angle-down"></b>
                                    </a>

                                    <b class="arrow"></b>
                                    <ul class="submenu nav-show"  >
                                        <li ng-class="{active:$state.includes('admin.permissions')}" show-if-has-permit="view_permission">
                                            <a ui-sref="admin.permissions" >
                                                <i class="menu-icon fa fa-caret-right"></i>
                                                <span class="menu-text" translate> .permissions</span>
                                            </a>

                                            <b class="arrow"></b>
                                        </li>

                                        <li ng-class="{active:$state.includes('admin.roles')}" show-if-has-permit="view_role">
                                            <a ui-sref="admin.roles">
                                                <i class="menu-icon fa fa-caret-right"></i>
                                                <span class="menu-text" translate> .roles </span>
                                            </a>

                                            <b class="arrow"></b>
                                        </li>

                                        <li ng-class="{active:$state.includes('admin.users')}" show-if-has-permit="view_user">
                                            <a ui-sref="admin.users">
                                                <i class="menu-icon fa fa-caret-right"></i>
                                                <span class="menu-text" translate> .users </span>
                                            </a>

                                            <b class="arrow"></b>
                                        </li>
                                    </ul>
                                </li>

                                <li ui-sref-active="active open" show-if-has-permit="view_task">
                                    <a ui-sref="admin.tasks" hotkey="{'ctrl+g':test}">
                                        <i class="menu-icon fa fa-tasks"></i>
                                        <span class="menu-text" translate> .tasks </span>
                                        <!--<span class="badge badge-danger">5</span>-->
                                    </a>

                                    <b class="arrow"></b>
                                </li>

                                <li ui-sref-active="active open" show-if-has-any-permit="add_category,edit_category,delete_category,view_category">
                                    <a ui-sref="admin.categories">
                                        <i class="menu-icon fa fa-sitemap"></i>
                                        <span class="menu-text" translate> .categories </span>
                                    </a>

                                    <b class="arrow"></b>
                                </li>

                                <!-- this is sample and you can use it -->
                                <!--<li ui-sref-active="active open">-->
                                    <!--<a ui-sref="admin.samples">-->
                                        <!--<i class="menu-icon fa fa-building"></i>-->
                                        <!--<span class="menu-text"> samples </span>-->
                                    <!--</a>-->

                                <!--</li>-->

                                <!--
                                In this section we add Admin Template (Angular Version)
                                You can use this in your project
                                -->
                                <li class="separate-menu"><span>Admin Template (Angular)</span></li>
                                <li ui-sref-active="active open">
                                    <a href="#" class="dropdown-toggle">
                                        <i class="menu-icon fa fa-desktop"></i>
                                        <span class="menu-text" translate> app.shared.admin.menu.uiElements </span>

                                        <b class="arrow fa fa-angle-down"></b>
                                    </a>

                                    <b class="arrow"></b>
                                    <ul class="submenu nav-show"  >
                                        <li ng-class="{active:$state.includes('admin.generalelements')}">
                                            <a ui-sref="admin.generalelements" >
                                                <i class="menu-icon fa fa-caret-right"></i>
                                                <span class="menu-text" translate> .generalElements</span>
                                            </a>

                                            <b class="arrow"></b>
                                        </li>

                                        <li ng-class="{active:$state.includes('admin.typography')}">
                                            <a ui-sref="admin.typography">
                                                <i class="menu-icon fa fa-caret-right"></i>
                                                <span class="menu-text" translate> .typography</span>
                                            </a>

                                            <b class="arrow"></b>
                                        </li>

                                        <li ng-class="{active:$state.includes('admin.tab')}">
                                            <a ui-sref="admin.tab">
                                                <i class="menu-icon fa fa-caret-right"></i>
                                                <span class="menu-text" translate> .tabAccordian</span>
                                            </a>

                                            <b class="arrow"></b>
                                        </li>
                                        <li ng-class="{active:$state.includes('admin.treeview')}">
                                            <a ui-sref="admin.treeview">
                                                <i class="menu-icon fa fa-caret-right"></i>
                                                <span class="menu-text" translate> .treeview</span>
                                            </a>

                                            <b class="arrow"></b>
                                        </li>

                                        <li ng-class="{active:$state.includes('admin.buttons')}">
                                            <a ui-sref="admin.buttons">
                                                <i class="menu-icon fa fa-caret-right"></i>
                                                <span class="menu-text" translate> .buttonsIcons</span>
                                            </a>

                                            <b class="arrow"></b>
                                        </li>

                                        <li ng-class="{active:$state.includes('admin.jquery-ui')}">
                                            <a ui-sref="admin.jquery-ui" >
                                                <i class="menu-icon fa fa-caret-right"></i>
                                                <span class="menu-text" translate> .jQueryUi</span>
                                            </a>

                                            <b class="arrow"></b>
                                        </li>

                                        <li ng-class="{active:$state.includes('admin.nestable-list')}">
                                            <a ui-sref="admin.nestable-list">
                                                <i class="menu-icon fa fa-caret-right"></i>
                                                <span class="menu-text" translate> .nestableLists</span>
                                            </a>

                                            <b class="arrow"></b>
                                        </li>

                                        <li ng-class="{active:$state.includes('admin.dual-list')}">
                                            <a ui-sref="admin.dual-list">
                                                <i class="menu-icon fa fa-caret-right"></i>
                                                <span class="menu-text" translate> .dualLists</span>
                                            </a>

                                            <b class="arrow"></b>
                                        </li>

                                        <li ng-class="{active:$state.includes('admin.image-crop')}">
                                            <a ui-sref="admin.image-crop">
                                                <i class="menu-icon fa fa-caret-right"></i>
                                                <span class="menu-text" translate> .imageCropping</span>
                                            </a>

                                            <b class="arrow"></b>
                                        </li>

                                        <li class="">
                                            <a href="#" class="dropdown-toggle">
                                                <i class="menu-icon fa fa-caret-right"></i>

                                                <span class="menu-text">Three Level Menu</span>
                                                <b class="arrow fa fa-angle-down"></b>
                                            </a>

                                            <b class="arrow"></b>

                                            <ul class="submenu">
                                                <li class="">
                                                    <a href="#">
                                                        <i class="menu-icon fa fa-leaf green"></i>
                                                        <span class="menu-text">Item #1</span>
                                                    </a>

                                                    <b class="arrow"></b>
                                                </li>

                                                <li class="">
                                                    <a href="#" class="dropdown-toggle">
                                                        <i class="menu-icon fa fa-pencil orange"></i>

                                                        <span class="menu-text">4th level</span>
                                                        <b class="arrow fa fa-angle-down"></b>
                                                    </a>

                                                    <b class="arrow"></b>

                                                    <ul class="submenu">
                                                        <li class="">
                                                            <a href="#">
                                                                <i class="menu-icon fa fa-plus purple"></i>
                                                                <span class="menu-text">Add Product</span>
                                                            </a>

                                                            <b class="arrow"></b>
                                                        </li>

                                                        <li class="">
                                                            <a href="#">
                                                                <i class="menu-icon fa fa-eye pink"></i>
                                                                <span class="menu-text">View Products</span>
                                                            </a>

                                                            <b class="arrow"></b>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>

                                <li ui-sref-active="active open">
                                    <a href="#" class="dropdown-toggle">
                                        <i class="menu-icon fa fa-list"></i>
                                        <span class="menu-text" translate>  .tables </span>

                                        <b class="arrow fa fa-angle-down"></b>
                                    </a>

                                    <b class="arrow"></b>

                                    <ul class="submenu" >
                                        <li ng-class="{active:$state.includes('admin.tables')}">
                                            <a ui-sref="admin.tables">
                                                <i class="menu-icon fa fa-caret-right"></i>
                                                <span class="menu-text" translate> .simpleTables</span>
                                            </a>

                                            <b class="arrow"></b>
                                        </li>

                                        <li ng-class="{active:$state.includes('admin.datatables')}">
                                            <a ui-sref="admin.datatables">
                                                <i class="menu-icon fa fa-caret-right"></i>
                                                <span class="menu-text" translate> .dataTables</span>
                                            </a>

                                            <b class="arrow"></b>
                                        </li>
                                    </ul>
                                </li>

                                <li ui-sref-active="open active">
                                    <a href="#" class="dropdown-toggle">
                                        <i class="menu-icon fa fa-bar-chart-o"></i>
                                        <span class="menu-text" translate>  .charts </span>

                                        <b class="arrow fa fa-angle-down"></b>
                                    </a>

                                    <b class="arrow"></b>

                                    <ul class="submenu">
                                        <li ng-class="{active:$state.includes('admin.flotchart')}">
                                            <a ui-sref="admin.flotchart">
                                                <i class="menu-icon fa fa-caret-right"></i>
                                                <span class="menu-text" translate> .flotChart</span>
                                            </a>

                                            <b class="arrow"></b>
                                        </li>

                                        <li ng-class="{active:$state.includes('admin.morrischart')}">
                                            <a ui-sref="admin.morrischart">
                                                <i class="menu-icon fa fa-caret-right"></i>
                                                <span class="menu-text" translate> .morrisCharts</span>
                                            </a>

                                            <b class="arrow"></b>
                                        </li>

                                        <li ng-class="{active:$state.includes('admin.jquery-sparklines')}">
                                            <a ui-sref="admin.jquery-sparklines">
                                                <i class="menu-icon fa fa-caret-right"></i>
                                                <span class="menu-text" translate> .jQuerySparklines</span>
                                            </a>

                                            <b class="arrow"></b>
                                        </li>
                                    </ul>
                                </li>

                                <li ui-sref-active="open active">
                                    <a href="#" class="dropdown-toggle">
                                        <i class="menu-icon fa fa-pencil-square-o"></i>
                                        <span class="menu-text" translate>  .forms </span>

                                        <b class="arrow fa fa-angle-down"></b>
                                    </a>

                                    <b class="arrow"></b>

                                    <ul class="submenu">
                                        <li ng-class="{active:$state.includes('admin.form-elements')}">
                                            <a ui-sref="admin.form-elements">
                                                <i class="menu-icon fa fa-caret-right"></i>
                                                <span class="menu-text" translate> .formElements</span>
                                            </a>

                                            <b class="arrow"></b>
                                        </li>

                                        <li ng-class="{active:$state.includes('admin.form-validations')}">
                                            <a ui-sref="admin.form-validations">
                                                <i class="menu-icon fa fa-caret-right"></i>
                                                <span class="menu-text" translate> .formValidations</span>
                                            </a>

                                            <b class="arrow"></b>
                                        </li>

                                        <li ng-class="{active:$state.includes('admin.wizard-validation')}">
                                            <a ui-sref="admin.wizard-validation">
                                                <i class="menu-icon fa fa-caret-right"></i>
                                                <span class="menu-text" translate> .wizardValidation</span>
                                            </a>

                                            <b class="arrow"></b>
                                        </li>

                                        <li ng-class="{active:$state.includes('admin.wysiwyg-editor')}">
                                            <a ui-sref="admin.wysiwyg-editor">
                                                <i class="menu-icon fa fa-caret-right"></i>
                                                <span class="menu-text" translate> .wysiwygEditor</span>
                                            </a>

                                            <b class="arrow"></b>
                                        </li>

                                        <li ng-class="{active:$state.includes('admin.form-plugins')}">
                                            <a ui-sref="admin.form-plugins">
                                                <i class="menu-icon fa fa-caret-right"></i>
                                                <span class="menu-text" translate> .formPlugins </span>
                                            </a>

                                            <b class="arrow"></b>
                                        </li>

                                    </ul>
                                </li>

                                <li ui-sref-active="open active">
                                    <a href="#" class="dropdown-toggle">
                                        <i class="menu-icon fa fa-upload"></i>
                                        <span class="menu-text" translate> .fileUploader </span>

                                        <b class="arrow fa fa-angle-down"></b>
                                    </a>

                                    <b class="arrow"></b>

                                    <ul class="submenu">

                                        <li ng-class="{active:$state.includes('admin.dropzone-file')}">
                                            <a ui-sref="admin.dropzone-file">
                                                <i class="menu-icon fa fa-caret-right"></i>
                                                <span class="menu-text" translate> .dropzoneFileUploader</span>
                                            </a>

                                            <b class="arrow"></b>
                                        </li>

                                        <li ng-class="{active:$state.includes('admin.multiple-file-upload')}">
                                            <a ui-sref="admin.multiple-file-upload">
                                                <i class="menu-icon fa fa-caret-right"></i>
                                                <span class="menu-text" translate> .multipleFileUpload</span>
                                            </a>

                                            <b class="arrow"></b>
                                        </li>

                                    </ul>
                                </li>

                                <li ui-sref-active="open active">
                                    <a href="#" class="dropdown-toggle">
                                        <i class="menu-icon fa fa-map-marker"></i>
                                        <span class="menu-text" translate> .maps </span>

                                        <b class="arrow fa fa-angle-down"></b>
                                    </a>

                                    <b class="arrow"></b>

                                    <ul class="submenu">
                                        <li ng-class="{active:$state.includes('admin.vector-maps')}">
                                            <a ui-sref="admin.vector-maps">
                                                <i class="menu-icon fa fa-caret-right"></i>
                                                <span class="menu-text" translate>.vectorMaps</span>
                                            </a>

                                            <b class="arrow"></b>
                                        </li>

                                        <li ng-class="{active:$state.includes('admin.google-map')}">
                                            <a ui-sref="admin.google-map">
                                                <i class="menu-icon fa fa-caret-right"></i>
                                                <span class="menu-text" translate> .googleMap</span>
                                            </a>

                                            <b class="arrow"></b>
                                        </li>

                                    </ul>
                                </li>

                                <li ui-sref-active="active open">
                                    <a ui-sref="admin.mailbox">
                                        <i class="menu-icon fa fa-envelope"></i>
                                        <span class="menu-text" translate>  .mailbox </span>
                                        <span class="badge badge-info">5</span>
                                    </a>

                                </li>

                                <li ui-sref-active="open active">
                                    <a ui-sref="admin.gallery">
                                        <i class="menu-icon fa fa-picture-o"></i>
                                        <span class="menu-text" translate>  .gallery </span>
                                        <span class="badge badge-transparent" >
                                            <i class="fa fa-lg fa-exclamation-triangle red"></i>
                                        </span>
                                    </a>

                                    <b class="arrow"></b>
                                </li>

                                <li ui-sref-active="open active">
                                    <a ui-sref="admin.calendar">
                                        <i class="menu-icon fa fa-calendar"></i>
                                        <span class="menu-text" translate>  .calendar </span>
                                    </a>

                                    <b class="arrow"></b>
                                </li>

                                <li ui-sref-active="open active">
                                    <a href="#" class="dropdown-toggle">
                                        <i class="menu-icon fa fa-file-o"></i>
                                        <span class="menu-text" translate>  .morePages </span>

                                        <b class="arrow fa fa-angle-down"></b>
                                    </a>

                                    <b class="arrow"></b>

                                    <ul class="submenu">
                                        <li ng-class="{active:$state.includes('admin.timeline')}">
                                            <a ui-sref="admin.timeline">
                                                <i class="menu-icon fa fa-caret-right"></i>
                                                <span class="menu-text" translate> .timeline</span>
                                            </a>

                                            <b class="arrow"></b>
                                        </li>

                                        <li ng-class="{active:$state.includes('admin.profile')}">
                                            <a ui-sref="admin.profile">
                                                <i class="menu-icon fa fa-caret-right"></i>
                                                <span class="menu-text" translate> .profile</span>
                                            </a>

                                            <b class="arrow"></b>
                                        </li>

                                        <li ng-class="{active:$state.includes('admin.invoice')}">
                                            <a ui-sref="admin.invoice">
                                                <i class="menu-icon fa fa-caret-right"></i>
                                                <span class="menu-text" translate> .invoice</span>
                                            </a>

                                            <b class="arrow"></b>
                                        </li>

                                        <li ng-class="{active:$state.includes('admin.search-page')}">
                                            <a ui-sref="admin.search-page">
                                                <i class="menu-icon fa fa-caret-right"></i>
                                                <span class="menu-text" translate> .searchPage</span>
                                            </a>

                                            <b class="arrow"></b>
                                        </li>

                                        <li ng-class="{active:$state.includes('admin.blank')}">
                                            <a ui-sref="admin.blank">
                                                <i class="menu-icon fa fa-caret-right"></i>
                                                <span class="menu-text" translate> .blankPage</span>
                                            </a>

                                            <b class="arrow"></b>
                                        </li>

                                    </ul>
                                </li>

                            </ul>


                            <a class="sidebar-collapse" id="sidebar-collapse" data-toggle="collapse" data-target="#test">
                                <i id="icon-sw-s-b" class="fa fa-angle-double-left"></i>
                            </a>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab_contact_2">

                        <div class="search-menu-form" role="search">
                            <div class="">
                                <input id="contact-list-search" placeholder="Search Contact..." type="text" class="form-control search-menu">
                                <a href="#modal-add-contact" data-toggle="modal" class="btn-modal btn-link" title="Add Contact">
                                    <i class="fa fa-plus"></i>
                                </a>
                            </div>
                        </div>


                        <ul class="list-group" id="contact-list">

                            <li class="separate-menu"><span>Online</span></li>

                            <li class="list-group-item">
                                <div class="col-xs-12 col-sm-3 avatar-contact">
                                    <img src="assets/img/avatars/avatar-6-ct.jpg" alt="Scott Stevens" class="img-responsive img-flat" />
                                </div>
                                <div class="col-xs-12 col-sm-9 ">
                                    <span class="name">Scott Stevens</span><br/>
                                    <span class="glyphicon glyphicon-map-marker text-muted c-info" data-toggle="tooltip" title="5842 Hillcrest Rd"></span>
                                    <span class="visible-xs"> <span class="text-muted">5842 Hillcrest Rd</span><br/></span>
                                    <span class="glyphicon glyphicon-earphone text-muted c-info" data-toggle="tooltip" title="(870) 288-4149"></span>
                                    <span class="visible-xs"> <span class="text-muted">(870) 288-4149</span><br/></span>
                                    <span class="fa fa-comments text-muted c-info" data-toggle="tooltip" title="scott.stevens@example.com"></span>
                                    <span class="visible-xs"> <span class="text-muted">scott.stevens@example.com</span><br/></span>
                                </div>
                                <div class="clearfix"></div>
                            </li>
                            <li class="list-group-item">
                                <div class="col-xs-12 col-sm-3 avatar-contact">
                                    <img src="assets/img/avatars/avatar-7-ct.jpg" alt="Seth Frazier" class="img-responsive img-flat" />
                                </div>
                                <div class="col-xs-12 col-sm-9 ">
                                    <span class="name">Seth Frazier</span><br/>
                                    <span class="glyphicon glyphicon-map-marker text-muted c-info" data-toggle="tooltip" title="7396 E North St"></span>
                                    <span class="visible-xs"> <span class="text-muted">7396 E North St</span><br/></span>
                                    <span class="glyphicon glyphicon-earphone text-muted c-info" data-toggle="tooltip" title="(560) 180-4143"></span>
                                    <span class="visible-xs"> <span class="text-muted">(560) 180-4143</span><br/></span>
                                    <span class="fa fa-comments text-muted c-info" data-toggle="tooltip" title="seth.frazier@example.com"></span>
                                    <span class="visible-xs"> <span class="text-muted">seth.frazier@example.com</span><br/></span>
                                </div>
                                <div class="clearfix"></div>
                            </li>

                            <li class="list-group-item">
                                <div class="col-xs-12 col-sm-3 avatar-contact">
                                    <img src="assets/img/avatars/avatar-8-ct.jpg" alt="Todd Shelton" class="img-responsive img-flat" />
                                </div>
                                <div class="col-xs-12 col-sm-9">
                                    <span class="name">Todd Shelton</span><br/>
                                    <span class="glyphicon glyphicon-map-marker text-muted c-info" data-toggle="tooltip" title="5133 Pecan Acres Ln"></span>
                                    <span class="visible-xs"> <span class="text-muted">5133 Pecan Acres Ln</span><br/></span>
                                    <span class="glyphicon glyphicon-earphone text-muted c-info" data-toggle="tooltip" title="(522) 991-3367"></span>
                                    <span class="visible-xs"> <span class="text-muted">(522) 991-3367</span><br/></span>
                                    <span class="fa fa-comments text-muted c-info" data-toggle="tooltip" title="todd.shelton@example.com"></span>
                                    <span class="visible-xs"> <span class="text-muted">todd.shelton@example.com</span><br/></span>
                                </div>
                                <div class="clearfix"></div>
                            </li>
                            <li class="list-group-item">
                                <div class="col-xs-12 col-sm-3 avatar-contact">
                                    <img src="assets/img/avatars/avatar-9-ct.jpg" alt="Rosemary Porter" class="img-responsive img-flat" />
                                </div>
                                <div class="col-xs-12 col-sm-9">
                                    <span class="name">Rosemary Porter</span><br/>
                                    <span class="glyphicon glyphicon-map-marker text-muted c-info" data-toggle="tooltip" title="5267 Cackson St"></span>
                                    <span class="visible-xs"> <span class="text-muted">5267 Cackson St</span><br/></span>
                                    <span class="glyphicon glyphicon-earphone text-muted c-info" data-toggle="tooltip" title="(497) 160-9776"></span>
                                    <span class="visible-xs"> <span class="text-muted">(497) 160-9776</span><br/></span>
                                    <span class="fa fa-comments text-muted c-info" data-toggle="tooltip" title="rosemary.porter@example.com"></span>
                                    <span class="visible-xs"> <span class="text-muted">rosemary.porter@example.com</span><br/></span>
                                </div>
                                <div class="clearfix"></div>
                            </li>
                            <li class="list-group-item">
                                <div class="col-xs-12 col-sm-3 avatar-contact">
                                    <img src="assets/img/avatars/avatar-10-ct.jpg" alt="Debbie Schmidt" class="img-responsive img-flat" />
                                </div>
                                <div class="col-xs-12 col-sm-9">
                                    <span class="name">Debbie Schmidt</span><br/>
                                    <span class="glyphicon glyphicon-map-marker text-muted c-info" data-toggle="tooltip" title="3903 W Alexander Rd"></span>
                                    <span class="visible-xs"> <span class="text-muted">3903 W Alexander Rd</span><br/></span>
                                    <span class="glyphicon glyphicon-earphone text-muted c-info" data-toggle="tooltip" title="(867) 322-1852"></span>
                                    <span class="visible-xs"> <span class="text-muted">(867) 322-1852</span><br/></span>
                                    <span class="fa fa-comments text-muted c-info" data-toggle="tooltip" title="debbie.schmidt@example.com"></span>
                                    <span class="visible-xs"> <span class="text-muted">debbie.schmidt@example.com</span><br/></span>
                                </div>
                                <div class="clearfix"></div>
                            </li>

                            <li class="separate-menu"><span>offline</span></li>
                            <li class="list-group-item">
                                <div class="col-xs-12 col-sm-3 avatar-contact">
                                    <img src="assets/img/avatars/avatar-11-ct.jpg" alt="Glenda Patterson" class="img-responsive img-flat" />
                                </div>
                                <div class="col-xs-12 col-sm-9 ">
                                    <span class="name">Glenda Patterson</span><br/>
                                    <span class="glyphicon glyphicon-map-marker text-muted c-info" data-toggle="tooltip" title="5020 Poplar Dr"></span>
                                    <span class="visible-xs"> <span class="text-muted">5020 Poplar Dr</span><br/></span>
                                    <span class="glyphicon glyphicon-earphone text-muted c-info" data-toggle="tooltip" title="(538) 718-7548"></span>
                                    <span class="visible-xs"> <span class="text-muted">(538) 718-7548</span><br/></span>
                                    <span class="fa fa-comments text-muted c-info" data-toggle="tooltip" title="glenda.patterson@example.com"></span>
                                    <span class="visible-xs"> <span class="text-muted">glenda.patterson@example.com</span><br/></span>
                                </div>
                                <div class="clearfix"></div>
                            </li>
                        </ul>

                    </div>
                    <div class="tab-pane " id="tab_report_3">

                        <div class="search-menu-form" role="search">
                            <div class="">
                                <input id="task-list-search" placeholder="Search Task..." type="text" class="form-control search-menu">
                                <a href="#modal-add-task" data-toggle="modal" class="btn-modal btn-link" title="Add Task">
                                    <i class="fa fa-plus"></i>
                                </a>
                            </div>
                        </div>
                        <div class="task-content tasks-widget">
                            <ul id="sortable" class="task-list ui-sortable">
                                <li class="list-primary">
                                    <i class=" fa fa-ellipsis-v"></i>
                                    <div class="task-checkbox m-checkbox">
                                        <input type="checkbox" class="list-child">
                                    </div>
                                    <div class="task-title">
                                        <span class="task-title-sp">Flatlab is Modern Dashboard</span>
                                        <span class="badge badge-sm label-success">2 Days</span>

                                    </div>
                                </li>

                                <li class="list-danger">
                                    <i class=" fa fa-ellipsis-v"></i>
                                    <div class="task-checkbox m-checkbox">
                                        <input type="checkbox" class="list-child">
                                    </div>
                                    <div class="task-title">
                                        <span class="task-title-sp"> Fully Responsive &amp; Bootstrap 3.0.2 Compatible </span>
                                        <span class="badge badge-sm label-danger">Done</span>

                                    </div>
                                </li>
                                <li class="list-success">
                                    <i class=" fa fa-ellipsis-v"></i>
                                    <div class="task-checkbox m-checkbox">
                                        <input type="checkbox" class="list-child">
                                    </div>
                                    <div class="task-title">
                                        <span class="task-title-sp"> Daily Standup Meeting </span>
                                        <span class="badge badge-sm label-warning">Company</span>

                                    </div>
                                </li>
                                <li class="list-warning">
                                    <i class=" fa fa-ellipsis-v"></i>
                                    <div class="task-checkbox m-checkbox">
                                        <input type="checkbox" class="list-child">
                                    </div>
                                    <div class="task-title">
                                        <span class="task-title-sp"> Write well documentation for this theme </span>
                                        <span class="badge badge-sm label-primary">3 Days</span>

                                    </div>
                                </li>
                                <li class="list-info">
                                    <i class=" fa fa-ellipsis-v"></i>
                                    <div class="task-checkbox m-checkbox">
                                        <input type="checkbox" class="list-child">
                                    </div>
                                    <div class="task-title">
                                        <span class="task-title-sp"> We have a plan to include more features in future update </span>
                                        <span class="badge badge-sm label-info">Tomorrow</span>

                                    </div>
                                </li>
                                <li class="list-inverse">
                                    <i class=" fa fa-ellipsis-v"></i>
                                    <div class="task-checkbox m-checkbox">
                                        <input type="checkbox" class="list-child">
                                    </div>
                                    <div class="task-title">
                                        <span class="task-title-sp"> Don't be hesitate to purchase this Dashbord </span>
                                        <span class="badge badge-sm label-inverse">Now</span>

                                    </div>
                                </li>
                                <li class="list-primary">
                                    <i class=" fa fa-ellipsis-v"></i>
                                    <div class="task-checkbox m-checkbox">
                                        <input type="checkbox" class="list-child">
                                    </div>
                                    <div class="task-title">
                                        <span class="task-title-sp"> Code compile and upload </span>
                                        <span class="badge badge-sm label-success">2 Days</span>

                                    </div>
                                </li>

                                <li class="list-success">
                                    <i class=" fa fa-ellipsis-v"></i>
                                    <div class="task-checkbox m-checkbox">
                                        <input type="checkbox" class="list-child">
                                    </div>
                                    <div class="task-title">
                                        <span class="task-title-sp"> Tell your friends to buy this dashboad </span>
                                        <span class="badge badge-sm label-danger">Now</span>

                                    </div>
                                </li>
                                <li class="">
                                    <div class="task-title">
                                        <a href="#" class="center"> See All Tasks ...</a>
                                    </div>
                                </li>
                            </ul>
                        </div>



                    </div>
                </div><!-- end tab-content-->
            </div><!-- end tabbable-line -->
        </div><!-- end tabbable-panel -->
    </div>
    <!-- /end #sidebar -->

    <!-- main content  -->
    <div id="main" class="main">
        <div class="row" >
            <!-- breadcrumb section with ncyBreadcrumb -->
            <div class="ribbon">
                <div ncy-breadcrumb></div>
            </div>

            <!-- POSTMAN Tutorial - You can remove it in your production-->
            <div id="content" ng-if="$state.current.name === 'admin'">
                <div ng-include="'app/shared/views/dashboard.html'"></div>
            </div>
            <!-- POSTMAN Tutorial - You can remove it in your production-->

            <!-- main app content ui-view include -->
            <div ui-view data-anim-sync="true" class="anim-in-out anim-slide-below-fade" data-anim-speed="500" ></div>


        </div><!-- end .row -->
    </div>
    <!-- ./end #main  -->

    <!-- footer -->
    <div class="page-footer">
        <div class="col-xs-12 col-sm-12 text-center">
            <strong class=""><a href="#">ngLaravel</a> YepTemplate  Application © 2016</strong>
            <a href="#">
                <i class="fa fa-twitter-square bigger-120"></i>
            </a>
            <a href="#">
                <i class="fa fa-facebook-square bigger-120"></i>
            </a>
            <a href="#">
                <i class="fa fa-rss-square orange bigger-120"></i>
            </a>
        </div>
    </div>
    <!-- /footer -->
</div>
<!--
 you can load any jquery script in your view, but it's not true and you should write a directive for any scripts.
 Because this is EXAMPLE we added some jquery script in this file. If you want to do the right thing, you should convert
 blew scripts to Angular js Directive.
-->
<!-- You can use *.min.js in production -->
<script type="text/javascript" src="assets/js/yep-script.js"></script>
<script type="text/javascript" src="assets/js/yep-demo.js"></script>