<!-- main content -->
<div id="content">
    <div class="col-md-12">
        <div class="panel panel-default yep-card">
            <div class="panel-heading card-head">
                <div class="panel-title">
                    <a ui-sref="admin.users" class="btn btn-link has-ripple" >
                        <i class="fa fa-arrow-left"></i>
                    </a>
                    <span class="bold head-title"> {{$state.current.ncyBreadcrumb.label | translate}}</span>
                </div>
            </div>
            <div class="panel-body" translate-namespace="user.importWizard">
                <wizard template="app/vendors/angular-wizard/tpl/yep-tpl.html" on-finish="finishedWizard()">
                    <wz-step wz-title="Upload File" >
                        <div class="row">
                            <div class="col-md-9">
                                <div ng-if="importdata.file!==undefined" ng-model="importdata.file" dropzone="dropzoneConfig" mode="single" class="dropzone dz-clickable "></div>
                                <!--<div ng-if="deleteMessage" class="red">File removed successfully!</div>-->
                            </div>
                            <div class="col-md-3">
                                <div class="well">
                                    <div class="text-center">
                                        <i class="fa fa-file-excel-o fa-3x green"></i>
                                        <h3 translate> .sampleFile </h3>
                                    </div>
                                    <p translate> .sampleFileDescription </p>
                                    <a href="server/public/uploads/importSampleFile.xlsx"  class="btn btn-default">
                                        <i class="fa fa-download green"></i>
                                        {{"user.importWizard.sampleFileDownloadBtn" | translate}}
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-4 col-xs-offset-4" style="margin-top: 15px;">
                            <button type="button" class="btn btn-block btn-primary" wz-next translate>
                                .nextMapping
                            </button>
                        </div>
                    </wz-step>
                    <wz-step wz-title="Mapping" canenter="getFieldMap" canexit="fieldMapValidation">
                        <form class="form-horizontal">
                            <fieldset ng-disabled="isDisabled">
                                <div class="col-md-6">
                                    <div class="form-group" ng-repeat="(key,value) in importdata.fields">
                                        <label class="col-sm-3 control-label" >
                                            {{value}}
                                        </label>
                                        <div class="col-sm-9">
                                            <select ng-model="mapForm[value]" ng-options='column as column for column in importdata.columns' class="form-control"></select>
                                        </div>
                                    </div>
                                    <hr>
                                </div>
                                <div class="col-md-6">
                                    <div class="well">
                                        <h3 translate> .mapping </h3>
                                        <p translate> .mappingDescription </p>
                                        <p ng-bind-html="'user.importWizard.mappingNote' | translate"></p>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                        <p> </p>
                        <div class="col-xs-4 col-xs-offset-4">
                            <button type="button" class="btn btn-block btn-primary" ng-click="importSubmit()">Next: Import Data</button>
                        </div>
                    </wz-step>
                    <wz-step wz-title="Process">
                        <br> <br> <br> <br> <br>
                        <div class="text-center">
                            <img src="assets/img/preloader/material.gif" alt="preloader">
                            <h3 class="bold" translate> .pleaseWait </h3>
                            <p ng-bind-html=" 'user.importWizard.pleaseWaitText' | translate"></p>
                        </div>
                    </wz-step>
                    <wz-step wz-title="result">
                        <h3 class="text-center" translate> .importResult </h3>
                        <div class="col-xs-4 col-xs-offset-4 well">
                            <dl class="dl-horizontal">
                                <dt translate> .totalRecords </dt>
                                <dd>{{importdata.success_count + importdata.fail_count}}</dd>
                                <dt translate> .SuccessImport </dt>
                                <dd>{{importdata.success_count}} </dd>
                                <dt translate> .failedImport </dt>
                                <dd>{{importdata.fail_count}}</dd>
                                <dt> </dt>
                                <dd></dd>
                                <!-- error validation -->
                                <dt translate> .errors </dt>
                                <dd>
                                    <ul class="list-unstyled" ng-repeat="msg in notification.message">
                                        <li ng-repeat="item in msg">
                                            {{item}}
                                        </li>
                                    </ul>
                                </dd>
                                <!-- error validation -->
                            </dl>
                        </div>
                    </wz-step>
                </wizard>

            </div>
        </div>
    </div>
</div>
<!-- main content -->