<!-- main content -->
<div id="content" >
    <div class="col-md-12">
        <div class="panel panel-default yep-card">
            <div class="panel-heading card-head">
                <div class="panel-title">
                    <span class="bold head-title"> {{$state.current.ncyBreadcrumb.label | translate}}</span>
                    <div class="bars pull-right">
                        <div class="display-flex ">
                            <select ng-model="perPage" ng-change="pageChanged(perPage)" ng-options="opt as opt.label for opt in units" class=" form-control inline col-md-2" ng-show="perPageShow"></select>
                        </div>
                        <button class="btn btn-link has-ripple" ng-click="perPageShow=!perPageShow"><i class="fa fa-list-ol"></i></button>
                        <button class="btn btn-link has-ripple" ng-click="searchShow=!searchShow"><i class="fa fa-search "></i></button>
                        <button class="btn btn-link has-ripple" ui-sref="admin.createUser"><i class="fa fa-plus "></i></button>
                        <div class="dropdown" show-if-has-any-permit="delete_user,export_csv,export_xls,export_pdf,import_user">
                            <a href="" data-target="#" class="dropdown-toggle btn btn-link" data-toggle="dropdown">
                                <i class="fa fa-ellipsis-v fa-lg"></i>
                            </a>
                            <ul class="dropdown-menu yep-panel-menu">
                                <li>
                                    <a ng-click="delete(selection)" show-if-has-permit="delete_user"><i class="fa fa-trash red"></i> {{'app.shared.common.delete' | translate}}<span class="badge pull-right"></span></a>
                                </li>
                                <li class="divider" show-if-has-permit="import_user"></li>
                                <li>
                                    <a ui-sref="admin.importUser" show-if-has-permit="import_user"><i class="fa fa-exchange "></i> {{'app.shared.common.import' | translate}}<span class="badge pull-right"></span></a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a ng-click="export(selection,'csv')" download show-if-has-permit="export_csv"><i class="fa fa-file-text-o"></i> {{'app.shared.common.exportToCSV' | translate}}<span class="badge pull-right"></span></a>
                                </li>
                                <li>
                                    <a ng-click="export(selection,'xls')" download show-if-has-permit="export_xls"><i class="fa fa-file-excel-o green"></i> {{"app.shared.common.exportToExcel" | translate}}<span class="badge pull-right"></span></a>
                                </li>
                                <li>
                                    <a ng-click="export(selection,'pdf')" download show-if-has-permit="export_pdf"><i class="fa fa-file-pdf-o red"></i> {{"app.shared.common.exportToPDF" | translate}}<span class="badge pull-right"></span></a>
                                </li>

                            </ul>
                        </div>

                    </div>
                </div>
            </div>
            <div class="panel-body" translate-namespace="user.list">
                <hr>
                <div class="res-table" >
                    <table class="table table-striped table-hover table-fixed ellipsis-table">
                        <thead>
                        <tr>
                            <th width="2%" class="center">
                            </th>
                            <th width="2%"></th>
                            <th width="10%" translate> .name </th>
                            <th width="15%" translate> .email </th>
                            <th width="5%" translate> .gender </th>
                            <th width="10%" translate> .location </th>
                            <th width="10%" translate> .status </th>
                            <th width="10%" translate> .createdTime </th>
                            <th width="5%">
                                <i class="fa fa-bolt"></i>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="search-tr">
                            <td colspan="9">
                                <div class="col-md-12" ng-show="searchShow">
                                    <div class="input-group">
                                        <input ng-model="query" id="search_text" name="search_text" type="text" class="form-control" placeholder="{{'app.shared.common.search' | translate}}">
                                    <span class="input-group-btn">
                                        <button ng-click="search(query,perPage)" class="btn btn-default search-btn"><i class="fa fa-search"></i></button>
                                    </span>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr ng-repeat="user in users">
                            <td class="center">
                                <div class="checkbox checkbox-primary">
                                    <input id="{{user.id}}" type="checkbox" class="conchkNumber" value="{{user.name}}" ng-checked="selection.indexOf(user.id) > -1" ng-click="toggleSelection(user.id)">
                                    <label for="{{user.id}}">
                                    </label>
                                </div>
                            </td>
                            <td data-title="Avatar">
                                <img ng-src="{{user.avatar_url !=='' && 'server/public/uploads/'+user.avatar_url || 'server/public/uploads/no_avatar.jpg'}}" alt="avatar" class="img-circle img-responsive">
                            </td>
                            <td data-title="Name">{{user.name}}</td>
                            <td data-title="Email">{{user.email}}</td>
                            <td data-title="Gender">{{user.gender ?'Female':'Male'}}</td>
                            <td data-title="City">{{user.location}}</td>
                            <td data-title="Status">{{user.status ? 'Active':'Disable'}}</td>
                            <td data-title="Created Time">{{user.created_at}}</td>
                            <td><a class="fa fa-pencil-square-o" ui-sref="admin.editUser({id:user.id})"></a></td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="text-center">
                        <uib-pagination  total-items="pagination.total" ng-show="pagination.total>10" ng-model="pagination.current_page" max-size="maxSize" class="pagination" boundary-links="true" rotate="false" ng-change="pageChanged(perPage)" items-per-page="pagination.per_page" ></uib-pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end content -->